@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

@layer base {
    @font-face {
        font-family: "Atteron";
        src: url("$lib/assets/Fonts/atteron-webfont.woff");
    }

    @font-face {
        font-family: "Horizon";
        src: url("$lib/assets/Fonts/horizon.otf");
    }
}